.footer-bar {
    width: 100%;
    height: $footerHeight;
    background: transparent;
    font-size: 12px;
    z-index: 1030;
    @include mq('laptop', max) {
        font-size: 10px;
    }
    @include mq('tablet', max) {
        height: auto;
    }
}
