div.avatar-component {
    display: flex;
    justify-content: center;
    align-items: center;

    div.image_div {
        position: relative;
        width: 110px;
        div {
            position: absolute;
            svg {
                width: 100%;
                height: auto;
                position: absolute;
            }
        }
        img {
            width: 100%;
        }
    }
}
