div.bg-gray-50 {
    background-color: rgba(43, 43, 43, 0.5);
}

.txt-disable-gray {
    color: $disableGray;
}

.share {
    top: 0px;
    right: 0px;
    height: 100%;
    padding: 17px;
}

.border-response {
    border-right: 2px solid #464646;
    @include mq("tablet", max) {
        border-right: unset;
    }
}

.text-transparent {
    color: $transparent;
}

.referral-history {
    height: 100vh;
    @include mq("tablet", max) {
        height: auto;
    }
}

.referral-history-list {
    height: 100vh;
    @include mq("tablet", max) {
        height: auto;
    }
}

.referral-button {
    width: 100%;
    @include mq("tablet") {
        width: 50%;
    }
}
