main.purchaseWithSign-page {
    .home-section {
        height: 80vh;
        display: flex;
        align-items: center;
        div.customContainer {
            width: 100%;
            padding: 0 5%;
            div.row {
                .clock-div {
                    h4.clock-title {
                        font-size: 32px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-align: center;
                    }
                    p.time {
                        font-size: 130px;
                        line-height: 160px;
                    }
                    small.time-text {
                        font-size: 36px;
                        font-weight: 600;
                        color: dimgray;
                        text-transform: none;
                    }
                    @media screen and (max-width: 1480px) {
                        h4.clock-title {
                            font-size: 18px;
                        }
                        p.time {
                            font-size: 72px;
                            line-height: 96px;
                        }
                        small.time-text {
                            font-size: 24px;
                        }
                    }
                    @media screen and (max-width: 584px) {
                        h4.clock-title {
                            font-size: 12px;
                        }
                        p.time {
                            font-size: 48px;
                            line-height: 60px;
                        }
                        small.time-text {
                            font-size: 16px;
                        }
                    }
                }
                .col-sm-6 {
                    h4.title1 {
                        font-size: 30px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 1vw;               
                    }
                    h3.title2 {
                        margin-left: 2vw;
                        margin-bottom: 4vw;
                        font-size: 72px;
                        font-style: italic;
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                    p.text {
                        font-size: 24px;
                        font-weight: 500;
                    }
                    button.btn-green {
                        display: block;
                        margin: auto;
                        width: 320px;
                        padding: 15px;
                        font-size: 30px;
                        font-weight: 700;
                    }
                    @media screen and (max-width: 1480px) {
                        h4.title1 {
                            font-size: 24px;
                        }
                        h3.title2 {
                            font-size: 48px;
                        }
                        p.text {
                            font-size: 16px;
                        }
                        button.btn-green {
                            width: 250px;
                            padding: 10px;
                            font-size: 22px;
                        }
                    }
                    @media screen and (max-width: 584px) {
                        h4.title1 {
                            font-size: 16px;
                        }
                        h3.title2 {
                            font-size: 20px;
                            margin-left: 10vw;
                        }
                        p.text {
                            font-size: 12px;
                        }
                        button.btn-green {
                            width: 200px;
                            padding: 7px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}