// Mixins

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin custom-scroll($height) {
    max-height: calc(100vh - $height);
    padding-right: 20px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: #464646;
    }
    &::-webkit-scrollbar-thumb {
        background-color: white;
    }
}

//Placeholders

%set-height {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    @include mq("laptop", max) {
        overflow: auto;
        position: relative;
    }
}

%set-height2 {
    height: calc(100vh - 97px);
    @include mq("phone", max) {
        height: calc(100vh - 55px);
    }
}

%select-style {
    border: 1px solid white;
    border-radius: unset;
    background-color: $black;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding: 4px 10px !important;
    color: white;
    box-shadow: unset;
    height: 100%;
}
