// Colors
$black: #1e1e1e;
$green: #23c865;
$grey: #c4c4c4;
$red: #f7361a;
$cyan: #59d8f3;

// Media query breakpoints
$breakpoints: (
    "phone": 576px,
    "tablet": 769px,
    "laptop": 1025px,
    "laptop-wide": 1441px,
);
